In [20]:
import pandas as pd
import numpy as mp
import pyfpgrowth
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from sklearn.model_selection import train_test_split

In [21]:
data = pd.read_csv(r"I:\Last Semester\477\Chess\chess1.csv")
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df= pd.DataFrame(te_ary, columns=te.columns_)
df

          0      1      2      3      4      5      6      7      8      9
0     False   True  False  False  False  False  False  False  False  False
1     False  False  False   True  False  False  False  False  False  False
2     False  False  False  False  False   True  False  False  False  False
3     False  False  False  False  False  False  False   True  False  False
4     False  False  False  False  False  False  False  False  False   True
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
3190  False  False  False  False  False  False  False  False  False  False
3191  False  False  False  False  False  False  False  False  False  False
3192  False  False  False  False  False  False  False  False  False  False
3193  False  False  False  False  False  False  False  False  False  False
3194  False  False  False  False  False  False  False  False  False  False

[3195 rows x 10 columns]

In [22]:
 data.head(100)

,1,3,5,7,9,11,13,15,17,19,...,56,58,60,62,64,66,68,70,72,74
0,1,3,5,7,9,12,13,15,17,19,...,56,58,60,62,64,66,68,70,72,74
1,1,3,5,7,9,12,13,16,17,19,...,56,58,60,62,64,66,68,70,72,74
2,1,3,5,7,9,11,13,15,17,20,...,56,58,60,62,64,66,68,70,72,74
3,1,3,5,7,9,11,13,15,17,19,...,56,58,60,62,64,66,68,70,72,74
4,1,3,5,7,9,11,13,15,17,19,...,56,58,60,63,64,66,68,70,72,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,3,5,7,9,12,13,16,17,19,...,56,58,60,62,64,66,68,71,73,74
96,1,3,5,7,9,11,13,15,17,20,...,56,58,60,62,64,66,68,70,73,74
97,1,3,5,7,9,11,13,15,17,19,...,56,58,60,62,64,66,68,70,73,74
98,1,3,5,7,9,12,13,16,18,20,...,56,58,60,62,64,66,68,70,72,74
99,1,3,5,7,9,12,13,16,18,20,...,56,58,60,62,64,66,68,70,72,74

In [23]:
df

          0      1      2      3      4      5      6      7      8      9
0     False   True  False  False  False  False  False  False  False  False
1     False  False  False   True  False  False  False  False  False  False
2     False  False  False  False  False   True  False  False  False  False
3     False  False  False  False  False  False  False   True  False  False
4     False  False  False  False  False  False  False  False  False   True
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
3190  False  False  False  False  False  False  False  False  False  False
3191  False  False  False  False  False  False  False  False  False  False
3192  False  False  False  False  False  False  False  False  False  False
3193  False  False  False  False  False  False  False  False  False  False
3194  False  False  False  False  False  False  False  False  False  False

[3195 rows x 10 columns]

In [24]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.0006)

     support itemsets
0   0.001252      (0)
1   0.002504      (1)
2   0.002817      (2)
3   0.002191      (3)
4   0.002817      (4)
5   0.002504      (5)
6   0.002504      (6)
7   0.001878      (7)
8   0.001252      (8)
9   0.000939      (9)
10  0.000626   (1, 3)
11  0.000626   (2, 5)
12  0.000626   (2, 7)
13  0.000626   (4, 6)

In [25]:
from mlxtend.frequent_patterns import apriori
%timeit apriori(df, min_support=0.0005)

3.28 ms Â± 143 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [26]:
 from mlxtend.frequent_patterns import apriori
%timeit apriori(df, min_support=0.0006)

3.4 ms Â± 286 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [27]:
from mlxtend.frequent_patterns import apriori
%timeit apriori(df, min_support=0.0007)

2.02 ms Â± 34.5 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)